
.dogs-cats-birds-rabbits-wrapper{
    height:100vh;
    width:100%;
    display:flex;
    background:#e5e5e5;
}
.inner-wrapper.dogs-cats-birds-rabbits{
    width:85%;
    margin:0 auto;
}
.dogs-cats-birds-rabbits-photo{
   width:40%;
   height:80%;
   position:relative;
   top:10%;
   overflow: hidden;
}
.dogs-cats-birds-rabbits-box-wrapper{
    width:60%;
    height:100%;
    flex-wrap: wrap;
    display:flex;
}
.dogs-cats-box , .birds-rabbits-box{
    width:50%;
    height:40%;
    background:#e5e5e5;
    position:relative;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align:center;
    display:flex;
    justify-content: center;
    align-items: center;
}
.dogs-cats-box:hover , .birds-rabbits-box:hover{
    background:#fff;
}
.dogs-cats-box h4 , .birds-rabbits-box h4{
    margin-top:15px;
}
.dogs-cats-box{
    top:10%;
}
.dogs-cats-birds-rabbits-photo img{
    height:100%;
    transform:translateX(-25%)
}
.birds-rabbits-icon-wrapper{

}
.dogs-cats-icon-wrapper{

}



