
.dogs-cats-birds-rabbits-wrapper{
    height:100vh;
    display:flex;
    background:#e5e5e5;
    width:100%;
    margin:0 auto;
}
.dogs-cats-birds-rabbits-photo{
   width:40%;
   height:80%;
   position:relative;
   top:10%;
}
.dogs-cats-birds-rabbits-box-wrapper{
    width:60%;
    flex-wrap: wrap;
    display:flex;
}
.dogs-cats-birds-rabbits-box{
    width:50%;
    height:40%;
    background:#e5e5e5;
    position:relative;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align:center;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.dogs-cats-birds-rabbits-box:hover{
    background:#fff;
}
.dogs-cats-birds-rabbits-photo img{
    height:100%;
}



