
.dogs-cats-birds-rabbits-wrapper{
    height:100vh;
    width:100%;
    display:flex;
    background:#e5e5e5;
    position:relative;
}
.dogs-cats-birds-rabbits-wrapper::after{
    position:absolute;
    content:' ';
    height:100%;
    width:10%;
    background:#e5e5e5;
    left:-10%;
}
.dogs-cats-birds-rabbits-wrapper::before{
    position:absolute;
    content:' ';
    height:100%;
    width:10%;
    background:#e5e5e5;
    right:-10%;
}
.inner-wrapper-small-margin{
    width:85%;
    margin:0 auto;
}
.dogs-cats-birds-rabbits-photo{
   width:40%;
   height:80%;
   position:relative;
   top:10%;
   overflow: hidden;
}
.dogs-cats-birds-rabbits-rectangle-wrapper{
    width:60%;
    height:100%;
    flex-wrap: wrap;
    flex-direction: row;
    display:flex;
}
.dogs-cats-birds-rabbits-rectangle-up , .dogs-cats-birds-rabbits-rectangle-down{
    width:50%;
    height:40%;
    background:#e5e5e5;
    position:relative;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align:center;
    padding-top:80px;
    box-sizing: border-box;
}
.dogs-cats-birds-rabbits-rectangle-up:hover , .dogs-cats-birds-rabbits-rectangle-down:hover{
    background:#fff;
}
.dogs-cats-birds-rabbits-rectangle-up h4 , .dogs-cats-birds-rabbits-rectangle-down h4{
    margin-top:15px;
}
.dogs-cats-birds-rabbits-rectangle-up{
    top:10%;
}
.dogs-cats-birds-rabbits-photo img{
    height:100%;
    transform:translateX(-25%)
}



