@font-face{
  font-family: 'Roboto', sans-serif;
  src:url('asetts/fonts/Roboto');
  font-weight:400;
}
@font-face{
  font-family: 'Roboto', sans-serif;
  src:url('asetts/fonts/Roboto');
  font-weight:500;
}
@font-face{
  font-family: 'Open Sans', sans-serif;
  src:url('asetts/fonts/Open-sans');
  font-weight:400;
}



