.footer-description{  /*Make some extra then one font change color on #fff*/
    font-size:12.8px;
    font-weight:400;
    color:#adcce9;
}
.largest-headline{  /*Make some extra then one font roboto weight 500*/
    font-size:50px;
    font-weight:400;
    color:#111;
}
.main-footer-heading{
    font-size:14px;
    font-weight:400;
    color:#fff;
}
.main-header{   /*Make some extra then one font roboto weight 500*/
    font-size:48px;
    font-weight:400;
    color:#111;
}
.main-small-description{ 
    font-size:16px;
    font-weight:400;
    color:#111;
}
.main-small-heading{
    font-size:20px;
    font-weight:400;
    color:#111;
}
.medium-heading{
    font-size:30px;
    font-weight:400;
    color:#111;
}
.small-description{ /*Make some extra then one font change color on #fff */
    font-size:16px;
    font-weight:400;
    color:#111;
}
.small-heading{
    font-size:20px;
    font-weight:500;
    color:#111;
}
