.footer-description{  
    font-size:12.8px;
    font-weight:400;
    color:#adcce9;
}
.largest-heading{  
    font-size:60px;
    /*font-weight:600;*/
    color:#111;
    font-family: 'Roboto', sans-serif;           
    src:url('../fonts/Roboto/Roboto-Medium.ttf');
    font-weight:600;
}
.main-footer-heading{
    font-size:14px;
    font-weight:400;
    color:#fff;
}
.main-heading{  
    font-size:48px;
    font-weight:400;
    color:#111;
}
.main-small-description{ 
    font-size:16px;
    font-weight:400;
    color:#111;
    font-family: 'Open Sans', sans-serif;              
    src:url('../fonts/Open-sans/OpenSans-Regular.ttf');
    font-weight:400;
}
.main-small-heading{
    font-size:20px;
    /*font-weight:400;*/
    color:#111;
    font-family: 'Roboto', sans-serif;
    src:url('../fonts/Roboto/Roboto-Regular.ttf');
    font-weight:600;
}
.medium-heading{
    font-size:30px;
    font-weight:400;
    color:#111;
}
.small-description{ 
    font-size:16px;
    font-weight:400;
    color:#111;
}
.small-heading{
    font-size:20px;
    font-weight:500;
    color:#111;
}
