body{
    margin:0;
    padding:0;
    color:#111;
}
.container{
    width:100%;
}
.header-social-media-wrapper{
    display:flex;
    position:absolute;
    bottom:120px;
    right:140px;
    color:#fff;
    font-size:32px;
}
.header-social-media-icon{
    padding-left:20px;
    box-sizing:border-box;
}
.header-social-media-icon i{
    transition: .25s ease all;
}
.header-social-media-icon.fb{
    padding-left:0;
}
.header-social-media-icon.fb i:hover{
    color:#3b5998;
}
.header-social-media-icon.tw i:hover{
    color:#1da1f2;
}
.header-social-media-icon.ig i:hover{
    color:#405de6;
}
.header-photo{ 
    width:100%;
    height:100vh;
    background-size:cover;
    background-position: center;
    background-image: url('../images/the-dog-white-and-brown.jpeg');
}
.header-logo{
    position:absolute;
    left:0;
    bottom:60px;
    height:212px;
    width:207px;
    left:165px;
}
.hamburger-wrapper .hamburger{
    top: 0%;
    left:48%;
    position:absolute; 
}
.hamburger-wrapper .hamburger-box{
    width: 24px;
    height: 24px;
}
.hamburger-wrapper .hamburger-inner{
    width: 24px;
    height: 2.38px;
    background-color: #fff;
}








