body{
    margin:0;
    padding:0;
    color:#111;
}
.container{
    width:100%;
}
.header-social-media-wrapper{
    display:flex;
}
.header-photo{
   
    width:1366px;
    height:747px;
    background-size:100%;
}
.header-logo{
   
    position:absolute;
    left:0;
    bottom:0;
    height:212px;
    width:207px;
    margin-left:120px;
    background-repeat: no-repeat;
}
