.pets-love-wrapper{
    display:flex;
    padding:50px 0;
    justify-content: space-between;
}
.pets-love-heading{
    width:30%;
    display:flex;
    justify-content: center;
    align-items: flex-end;
}
.pets-love-heading .largest-heading span{
    display:block;
}
.pets-love-heading h4{
    margin-bottom:20px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.pets-love-photo img{
    width:100%;
}
.pets-love-photo{
    width:40%;
    max-width:300px;
}
.pets-love-description-wrapper{
    width:30%;
    display:flex;
    justify-content: center;
    align-items: center;
    line-height:20px;
}
.pets-love-description-wrapper .main-small-description .pets-love-description-last{
    margin-top:10px;
}

