.pets-love-wrapper{
    height:70vh;
    width:100%;
    display:flex;
}
.pets-love-heading{
    width:33.33%;
    height:80%;
    margin:auto 0;
    padding:30px 30px 30px 30px;
}
.pets-love-heading h4{
    margin-bottom:20px;
    padding-top:250px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.pets-love-photo{
    overflow:hidden;
    height:80%;
    width:33.34%;
    margin:auto 0;
}
img{
    top:50%;
    transform:translateY(0%);
    width:100%;
    height:100%;
}
.pets-love-description{
    width:33.33%;
    height:80%;
    margin:auto 0;
    padding:30px;
}
.pets-love-description-text-first{
    padding-top:100px;
}
div{
    margin-top:10px;
}
.pets-love-description-text-last{
    margin-top:30px;
}
.inner-wrapper{
    width:80%;
    margin: 0 auto;
}
