.rescue-a-pet-wrapper{
    padding:50px 0;
    background:#e5e5e5 ;
    display: flex;
    height:100vh;
    width:100%;
    box-sizing: border-box;
}
.rescue-a-pet-heading{
    width:30%;
    display:flex;
    justify-content:center;
    flex-flow: column;
}
.rescue-a-pet-heading h4{
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.rescue-a-pet-heading .largest-heading span{
    display:block;
}
.rescue-a-pet-heading .main-small-description span{
    line-height: 20px;
    display:block;
}
.rescue-a-pet-photo{
    width:40%;
}
.rescue-a-pet-photo img{
    height:100%;
    width:100%;
}
.rescue-a-pet-item-photo{
    width:30%;
    background:#111;
    display:flex;
    justify-content: center;
    align-items:flex-end;
    overflow: hidden;
}
.rescue-a-pet-item-photo img{
    width:120%;
}